nav li{
    list-style: none;
    padding: 0px 20px;

}

nav li:hover{
    background: red;

}

nav{
    margin: 0 auto;
    width: 80%;
}

nav ul{
    display: flex;
    justify-content: space-between;
}